{extend name="common:layout"}

{block name="content"}
<div id="content">
    <div class="page-header">
        <div class="container-fluid">
            <div class="pull-right">
                <button type="submit" form="form-create" data-toggle="tooltip" title="保存" class="btn btn-primary">
                    <i class="fa fa-save"></i>
                </button>
                <a href="{:url('index')}" data-toggle="tooltip" title="取消" class="btn btn-default">
                    <i class="fa fa-reply"></i>
                </a>
            </div>
            <h1>角色表管理</h1>
            <ul class="breadcrumb">
                <li>
                    <a href="{:url('manage/dashboard')}">首页</a>
                </li>
                <li>
                    <a href="{:url('index')}">角色表管理</a>
                </li>
            </ul>
        </div>
    </div>
    <div class="container-fluid">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">
                    <i class="fa fa-pencil"></i>
                    {if condition="is_null($id)"}添加{else/}编辑{/if}加角色表
                </h3>
            </div>
            <div class="panel-body">
                <form action="{:url('set',['id'=>$id])}" method="post" enctype="multipart/form-data" id="form-create" class="form-horizontal">
                    <div class="tab-content">
                        <div class="tab-pane active" id="tab-general">
                            <!--隐藏域,传递id-->
                            {if condition="!is_null($id)"}
                            <input type="hidden" name="id" value="{$id}">
                            {/if}
                            <div class="form-group required">
                                 <label class="col-sm-2 control-label" for="input-title">角色</label>
                                   <div class="col-sm-10">
                                     <input type="text" name="title" value="{$data['title']|default=''}" placeholder="角色" id="input-title" class="form-control" />
                                       {if condition="isset($errorInfo['title'])"}
                                      <label for="title" class="text-danger">{$errorInfo['title']}
                                      </label>
                                       {/if}
                                 </div>
                                </div><div class="form-group ">
                                 <label class="col-sm-2 control-label" for="input-descripttion">角色描述</label>
                                   <div class="col-sm-10">
                                     <input type="text" name="descripttion" value="{$data['descripttion']|default=''}" placeholder="角色描述" id="input-descripttion" class="form-control" />
                                       {if condition="isset($errorInfo['descripttion'])"}
                                      <label for="descripttion" class="text-danger">{$errorInfo['descripttion']}
                                      </label>
                                       {/if}
                                 </div>
                                </div><div class="form-group required">
                                 <label class="col-sm-2 control-label" for="input-sort">排序</label>
                                   <div class="col-sm-10">
                                     <input type="text" name="sort" value="{$data['sort']|default='0'}" placeholder="排序" id="input-sort" class="form-control" />
                                       {if condition="isset($errorInfo['sort'])"}
                                      <label for="sort" class="text-danger">{$errorInfo['sort']}
                                      </label>
                                       {/if}
                                 </div>
                                </div>
                            
                        </div>

                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{/block}

{block name="appendJs"}
<script type="text/javascript" src="__STATIC__/validate/jquery.validate.min.js"></script>
<script type="text/javascript" src="__STATIC__/validate/additional-methods.min.js"></script>
<script type="text/javascript" src="__STATIC__/validate/localization/messages_zh.min.js"></script>


<script>
    $('#form-create').validate({
        rules:{
            //根据情况定义验证规则
        },
        //内部的样式类,红色错误,可选的
        errorClass:"text-danger",

        messages:{
            
        }
    })



</script>
{/block}}