<aside id="column-right" class="col-sm-3 hidden-xs">
    <div class="list-group sidebar-list-group">
        <a href="" class="list-group-item">会员登录</a>
        <a href="" class="list-group-item">会员注册</a>
        <a href="" class="list-group-item">忘记密码</a>
        <a href="" class="list-group-item">我的账户</a>
        <a href="" class="list-group-item">收货地址</a>
        <a href="" class="list-group-item">收藏列表</a>
        <a href="" class="list-group-item">历史订单</a>
        <a href="" class="list-group-item">下载文件</a>
        <a href="" class="list-group-item hidden">分期付款</a>
        <a href="" class="list-group-item">奖励积分</a>
        <a href="" class="list-group-item">商品退换</a>
        <a href="" class="list-group-item">我的余额</a>
        <a href="" class="list-group-item">订阅咨询</a>
    </div>
</aside>