<!DOCTYPE html>
<html dir="ltr" lang="zh-CN">
<head>
    <meta charset="UTF-8" />
    <title>管理面板</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0" />

    <link type="text/css" rel="stylesheet" href="__STATIC__/bootstrap/css/bootstrap.min.css" />
    <link type="text/css" rel="stylesheet" href="__STATIC__/font-awesome/css/font-awesome.min.css"/>
    <link type="text/css" rel="stylesheet" href="__STATIC__/back/css/stylesheet.css"  media="screen" />

    {block name="appendCss"}{/block}


</head>
<body>
<div id="container">

    {include file="common/header" /}

    {include file="common/left" /}


    {block name="content"}{/block}


    {include file="common/footer"}

</div>
</body>
<script type="text/javascript" src="__STATIC__/jquery/jquery-2.1.1.min.js"></script>
<script type="text/javascript" src="__STATIC__/bootstrap/js/bootstrap.min.js"></script>
<script type="text/javascript" src="__STATIC__/back/js/common.js" ></script>

{block name="appendJs"}{/block}

</html>