<header>
    <div class="container">
        <div class="row">
            <div class="col-sm-4">
                <div id="logo">
                    <a href="">
                        <img src="__STATIC__/image/logo-front.png" title="BuyPlus(败家Shopping）" alt="BuyPlus(败家Shopping）" class="img-responsive" />
                    </a>
                </div>
            </div>
            <div class="col-sm-8 mini-cart">
                <div id="cart">
                    <a href="" class="cart-info">
                  <span class="cart-icon">
                    <i class="fa fa-shopping-cart"></i>
                  </span>
                        <span id="cart-total">0 个商品 - ￥0.00</span>
                    </a>
                    <!--           <ul class="cart-content dropdown-menu hidden-sm hidden-xs">
                                <li>
                                  <p class="text-center empty">您的购物车内没有商品！</p>
                                </li>
                              </ul> -->
                    <ul class="cart-content dropdown-menu hidden-sm hidden-xs">
                        <li>
                            <table class="table table-striped">
                                <tbody>
                                <tr>
                                    <td class="text-center">
                                        <a href="">
                                            <img src="" alt="" title="" class="img-thumbnail"></a>
                                    </td>
                                    <td class="text-left">
                                        <a href="">商品名称</a>
                                        <br>
                                        x 1
                                        <br>
                                        -
                                        <small>型号</small>
                                    </td>
                                    <td class="text-right">
                                        ￥5,290.00
                                        <a class="remove" onclick="">移除</a>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </li>
                        <li>
                            <div>
                                <table class="table table-bordered">
                                    <tbody>
                                    <tr>
                                        <td class="text-right"> <strong>商品总额</strong>
                                        </td>
                                        <td class="text-right">￥0.00</td>
                                    </tr>
                                    </tbody>
                                </table>
                                <p class="text-right">
                                    <a href="">
                                        <strong><i class="fa fa-shopping-cart"></i>
                                            查看购物车</strong>
                                    </a>
                                    &nbsp;&nbsp;&nbsp;
                                    <a href="">
                                        <strong><i class="fa fa-share"></i>
                                            去结账</strong>
                                    </a>
                                </p>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</header>