{extend name="common:layout"}

{block name="content"}
<div id="content">
    <div class="page-header">
        <div class="container-fluid">
            <div class="pull-right">
                <button type="submit" form="form-create" data-toggle="tooltip" title="保存" class="btn btn-primary">
                    <i class="fa fa-save"></i>
                </button>
                <a href="{:url('index')}" data-toggle="tooltip" title="取消" class="btn btn-default">
                    <i class="fa fa-reply"></i>
                </a>
            </div>
            <h1>品牌管理</h1>
            <ul class="breadcrumb">
                <li>
                    <a href="{:url('manage/dashboard')}">首页</a>
                </li>
                <li>
                    <a href="{:url('index')}">品牌管理</a>
                </li>
            </ul>
        </div>
    </div>
    <div class="container-fluid">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">
                    <i class="fa fa-pencil"></i>
                    {if condition="is_null($id)"}添加{else/}编辑{/if}加品牌
                </h3>
            </div>
            <div class="panel-body">
                <form action="{:url('set',['id'=>$id])}" method="post" enctype="multipart/form-data" id="form-create" class="form-horizontal">
                    <div class="tab-content">
                        <div class="tab-pane active" id="tab-general">
                            <!--隐藏域,传递id-->
                            <input type="hidden" name="id" value="{$id}">
                            <div class="form-group required">
                                <label class="col-sm-2 control-label" for="input-title">品牌名称</label>
                                <div class="col-sm-10">
                                    <input type="text" name="title" value="{$data['title']|default=''}" placeholder="品牌名称" id="input-title" class="form-control" />
                                    {if condition="isset($errorInfo['title'])"}
                                    <label for="input-title" class="text-danger">{$errorInfo['title']}</label>
                                    {/if}
                                </div>
                            </div>

                            <div class="form-group ">
                                <label class="col-sm-2 control-label" for="input-logo">logo</label>
                                <div class="col-sm-10">
                                    <input type="file" name="logo"  id="input-logo" />
                                    {if condition="!empty($data['logo'])"}
                                    <img src="__ROOT__/uploads/{$data['logo']}" alt="" style="max-width: 40px">
                                    <input type="checkbox" name="is_delete">
                                    <label class="control-label">是否将图片置空</label>
                                    {/if}
                                </div>
                            </div>
                            <div class="form-group ">
                                <label class="col-sm-2 control-label" for="input-site">官网</label>
                                <div class="col-sm-10">
                                    <input type="text" name="site" value="{$data['site']|default=''}" placeholder="官网" id="input-site" class="form-control" />
                                    {if condition="isset($errorInfo['site'])"}
                                    <label for="input-title" class="text-danger">{$errorInfo['site']}</label>
                                    {/if}
                                </div>
                            </div>
                            <div class="form-group required">
                                <label class="col-sm-2 control-label" for="input-sort">排序</label>
                                <div class="col-sm-10">
                                    <input type="text" name="sort" value="{$data['sort']|default=''}" placeholder="sort" id="input-sort" class="form-control" />
                                    {if condition="isset($errorInfo['sort'])"}
                                    <label for="input-title" class="text-danger">{$errorInfo['sort']}</label>
                                    {/if}
                                </div>
                            </div>
                        </div>

                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{/block}

{block name="appendJs"}
<script type="text/javascript" src="__STATIC__/validate/jquery.validate.min.js"></script>
<script type="text/javascript" src="__STATIC__/validate/additional-methods.min.js"></script>
<script type="text/javascript" src="__STATIC__/validate/localization/messages_zh.min.js"></script>


<script>
    $('#form-create').validate({
        rules:{
            title:{
                required:true,
                //通过ajax请求检测唯一:传递id用于排除id
                remote:{
                    url:'{:url("checkTitleUnique")}',
                    data:{
                        id:'{$id}'
                    }
                }
            },
            site:{
                url:true
            },
            sort:{
                required:true,
                digits:true
            }
        },
        //内部的样式类,红色错误,可选的
        errorClass:"text-danger",

        messages:{
            title:{
                remote:'有了'
            }
        }
    })



</script>
{/block}}